{% extends 'registration_base.html' %}

{% block title %} | Login{% endblock title %}

{% block content %}
    <form method="post" action="{% url 'login' %}" class="login_form" novalidate>
        {% csrf_token %}

        {% if form.errors %}
            <p class="login_form_error">
                Your username and password didn't match. Please try again.
            </p>
        {% endif %}

        {% if next %}
            <p class="next_message">
                {% if user.is_authenticated %}
                    Your account doesn't have access to this page. To proceed, please login with an account that
                    has access.
                {% else %}
                    Please login to see this page.
                {% endif %}
            </p>
        {% endif %}

        <div class="form_text_group">
            <label for="{{ form.username.id_for_label }}">Username</label>
            {{ form.username }}
        </div>
        <div class="form_text_group">
            <label for="{{ form.password.id_for_label }}">Password</label>
            {{ form.password }}
        </div>
        <input type="submit" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock content %}