*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Segoe UI", "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 16px;
}

.main_nav {
    height: 6vh;
    padding: 0 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d1d5db;
}

.site_logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #4b5563;
}

.nav_button {
    padding: 0.3rem 1rem;
    display: flex;
    align-items: center;
    background-color: #4f46e5;
    border-radius: 0.2rem;
    font-size: 0.9rem;
    text-decoration: none;
    color: #ffffff;
    transition: background-color ease-in-out 150ms;
}

.nav_button:hover {
    background-color: #4338ca;
}
